<h1>My Tasks</h1>

<% i = 0 %>
<% @tasks.each do |t| %>
<div class="container">
  <p><%= i += 1 %>----</p>
  <p class="task"><%= link_to "#{t.title}", task_path(t) %></p>
  <p>---<%= t.completed? %></p>
</div>
<!-- <%= t.completed %> -->
<% end %>

<p id="new"><%= link_to "Create Task",  new_task_path%></p>


